.inputText {
    position: absolute;
    top: 10px;
    left: 12px;
    line-height: 24px;
}
.basicInput {
    flex: 1;
    position: relative;
    border-radius: 8px 0 0 8px;
    background-color: #fff;
    border: 1px solid #94a3b8;
    box-sizing: border-box;
    height: 44px;
}
.iconoutlinesearch {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.inputLeftContent {
    position: absolute;
    top: calc(50% - 12px);
    left: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.basicInput1 {
    flex: 1;
    position: relative;
    border-radius: 0 8px 8px 0;
    background-color: #fff;
    border: 1px solid #94a3b8;
    box-sizing: border-box;
    height: 44px;
    overflow: hidden;
    margin-left: -1px;
}
.basicInputParent {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 220px);
    width: 439px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.text {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.button {
    border-radius: 8px;
    background-color: #fa6f32;
    height: 44px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.iconoutlinebell {
    position: relative;
    border-radius: 10px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.button1 {
    border-radius: 8px;
    background-color: #f1f5f9;
    height: 44px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.face37Icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.photo {
    position: relative;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.button2 {
    border-radius: 8px 0 0 8px;
    height: 44px;
    overflow: hidden;
    padding: 10px 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.button2,
.button3,
.buttonGroup {
    display: flex;
    flex-direction: row;
}
.button3 {
    border-radius: 0 8px 8px 0;
    width: 44px;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.buttonGroup {
    border-radius: 8px;
    background-color: #f1f5f9;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
    color: #0f172a;
}
.frameChild {
    position: absolute;
    margin: 0 !important;
    top: 9px;
    left: 134px;
    border-radius: 40px;
    background-color: #fe0000;
    border: 1px solid #f1f5f9;
    box-sizing: border-box;
    width: 9px;
    height: 9px;
    z-index: 3;
}
.buttonParent {
    position: absolute;
    top: calc(50% - 22px);
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    color: #fff;
}
.theLogoMakerBuiltFor1000 {
    position: absolute;
    top: calc(50% - 17px);
    left: 0;
    background-color: #c4c4c4;
    width: 213px;
    height: 33px;
}
.frameParent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.component11 {
    position: absolute;
    top: 0;
    left: 64px;
    width: 1472px;
    height: 84px;
    font-size: 16px;
    color: #94a3b8;
}
.iconsolidchevronLeft {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.button4,
.button5,
.button6 {
    position: absolute;
    top: 32px;
    left: 32px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    height: 56px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.button5,
.button6 {
    top: 0;
    left: 0;
    border-radius: 8px 8px 0 0;
}
.button6 {
    top: 56px;
    border-radius: 0 0 8px 8px;
}
.groupDiv,
.image76Icon {
    position: absolute;
    top: 32px;
    left: 668px;
    width: 56px;
    height: 112px;
}
.image76Icon {
    top: 821px;
    left: 0;
    width: 801px;
    height: 26px;
    object-fit: cover;
}
.component13,
.component14,
.component15 {
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    align-items: flex-start;
    justify-content: flex-start;
}
.component13 {
    position: absolute;
    top: 421px;
    left: 316px;
    overflow: hidden;
}
.component14,
.component15 {
    top: 556px;
}
.component14 {
    position: absolute;
    left: 175px;
    overflow: hidden;
}
.component15 {
    left: 499px;
}
.buttonContainer,
.component15,
.component16 {
    position: absolute;
    overflow: hidden;
}
.component16 {
    top: 308px;
    left: 510px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttonContainer {
    top: 179px;
    left: 812px;
    width: 788px;
    height: 821px;
    background-image: url(/dummy-backend/my-app/public/frame-23941@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 16px;
    color: #000;
}
.button7,
.button8 {
    position: absolute;
    top: 203px;
    left: 689px;
    border-radius: 8px;
    background-color: #f1f5f9;
    height: 36px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.button8 {
    left: 526px;
}
.resultsFound {
    position: absolute;
    top: 211px;
    left: 66px;
    line-height: 20px;
    color: #000;
}
.frameInner,
.frameItem {
    position: relative;
    border-radius: 50%;
    background-color: #fa6f32;
    width: 8px;
    height: 8px;
}
.frameInner {
    background-color: #fff;
    opacity: 0.5;
}
.ellipseParent {
    position: absolute;
    top: calc(50% + 82px);
    left: calc(50% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.mdicardsHeartOutlineIcon {
    position: absolute;
    top: 12px;
    right: 18px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.premium {
    position: relative;
    line-height: 150%;
}
.rivipCrownLineParent {
    position: absolute;
    top: 12px;
    left: 18px;
    border-radius: 4px;
    background-color: #ffba0a;
    display: flex;
    flex-direction: row;
    padding: 2px 6px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.frameContainer,
.rectangleDiv {
    align-self: stretch;
    position: relative;
}
.frameContainer {
    border-radius: 8px;
    height: 200px;
    background-image: url(/dummy-backend/my-app/public/frame-24031@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.rectangleDiv {
    background-color: #cbd5e1;
    width: 2px;
}
.tandemTractor {
    position: relative;
    line-height: 24px;
}
.peterbilt579Parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-size: 16px;
}
.ohio {
    position: relative;
    line-height: 20px;
}
.ohioParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.materialSymbolsstarIcon {
    position: relative;
    width: 17px;
    height: 17px;
    overflow: hidden;
    flex-shrink: 0;
}
.frameParent1,
.materialSymbolsstarParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.frameParent1 {
    align-self: stretch;
    align-items: flex-start;
}
.day {
    position: relative;
    line-height: 20px;
    font-weight: 600;
}
.dayWrapper {
    flex-direction: row;
    align-items: flex-start;
}
.dayWrapper,
.frameDiv,
.frameWrapper,
.vecicleCard {
    display: flex;
    justify-content: flex-start;
}
.frameWrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
}
.frameDiv,
.vecicleCard {
    flex-direction: column;
}
.frameDiv {
    align-self: stretch;
    align-items: flex-start;
    gap: 10px;
    color: #000;
}
.vecicleCard {
    flex: 1;
    align-items: center;
    gap: 12px;
}
.rivipCrownLineGroup,
.vecicleCardParent {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.rivipCrownLineGroup {
    position: absolute;
    top: 12px;
    left: 18px;
    border-radius: 4px;
    background-color: #ffba0a;
    display: none;
    padding: 2px 6px;
    gap: 4px;
}
.vecicleCardParent {
    align-self: stretch;
    display: flex;
    gap: 24px;
}
.span {
    font-weight: 600;
}
.clearTheFilter {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #64748b;
}
.iconoutlinetruckParent,
.moreDistantButNoLessImpoParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.iconoutlinetruckParent {
    flex-direction: row;
    gap: 16px;
}
.clearFilters {
    margin-block-start: 0;
    margin-block-end: 6px;
    font-weight: 600;
}
.more458Transport {
    margin: 0;
    font-size: 14px;
}
.text4 {
    position: relative;
    line-height: 12px;
}
.button10,
.button9,
.toast {
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
}
.button9 {
    background-color: #f1f5f9;
    overflow: hidden;
    display: none;
    padding: 16px;
    justify-content: center;
}
.button10,
.toast {
    display: flex;
}
.button10 {
    background-color: #fa6f32;
    height: 36px;
    overflow: hidden;
    padding: 6px 12px;
    box-sizing: border-box;
    justify-content: center;
    font-size: 14px;
    color: #fff;
}
.toast {
    align-self: stretch;
    background-color: #f1f5f9;
    padding: 12px 16px;
    justify-content: space-between;
    font-size: 16px;
    color: #0f172a;
}
.resultsFound1 {
    position: relative;
    line-height: 150%;
    color: #000;
    display: none;
}
.topBorder {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #e2e8f0;
    height: 1px;
}
.topBorder1 {
    align-self: stretch;
    position: relative;
    height: 2px;
}
.previous {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.content,
.content1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
}
.content {
    padding: 16px 4px 0 0;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.content1 {
    padding: 16px 16px 0;
    align-items: flex-start;
    justify-content: center;
}
.topBorder3 {
    align-self: stretch;
    position: relative;
    background-color: #fb814c;
    height: 2px;
}
.numberLinks,
.paginationnumberLink1 {
    align-items: flex-start;
    justify-content: flex-start;
}
.paginationnumberLink1 {
    border: 1px solid #fb814c;
    display: flex;
    flex-direction: column;
    color: #fa6f32;
}
.numberLinks {
    text-align: center;
}
.content8,
.links,
.numberLinks {
    display: flex;
    flex-direction: row;
}
.content8 {
    align-self: stretch;
    padding: 16px 0 0 4px;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.links {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
}
.centeredPageNumbersdesktop {
    position: relative;
    width: 722px;
    height: 38px;
    color: #64748b;
}
.frameGroup {
    position: absolute;
    top: 263px;
    left: 64px;
    width: 724px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    color: #fff;
}
.frameChild25 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e2e8f0;
    width: 1600px;
    height: 1px;
}
.image75 {
    position: relative;
    background-color: #c4c4c4;
    width: 24px;
    height: 24px;
}
.frameParent11,
.image75Parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frameParent11 {
    flex-direction: row;
    gap: 16px;
    z-index: 0;
}
.choiceChild {
    position: absolute;
    margin: 0 !important;
    top: 72px;
    left: 0;
    background-color: #0f172a;
    width: 39px;
    height: 2px;
    z-index: 1;
}
.choice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 18px;
}
.image751 {
    position: relative;
    background-color: #c4c4c4;
    width: 24px;
    height: 24px;
    opacity: 0.5;
}
.iconsolidchevronDown2 {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.instanceChild {
    position: absolute;
    margin: 0 !important;
    top: 70px;
    left: 0;
    background-color: #0f172a;
    width: 39px;
    height: 2px;
    display: none;
    z-index: 1;
}
.choiceParent {
    position: absolute;
    top: 1px;
    left: 0;
    background-color: #fff;
    width: 1440px;
    display: flex;
    flex-direction: row;
    padding: 24px 64px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
}
.frameChild27 {
    position: absolute;
    top: 99px;
    left: 0;
    background-color: #e2e8f0;
    width: 1600px;
    height: 1px;
}
.button11 {
    position: absolute;
    top: 20px;
    left: 1441px;
    border-radius: 8px;
    background-color: #f1f5f9;
    height: 56px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.rectangleParent {
    position: relative;
    top: 82px;
    left: 0;
    width: 1600px;
    height: 97px;
}
.mapPage {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1%;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #0f172a;
    font-family: Inter;
}
