.input-text {
  position: absolute;
  top: 10px;
  left: 12px;
  line-height: 24px;
}

button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: inherit;
  font-size: inherit;
}

.basic-input {
  flex: 1;
  position: relative;
  border-radius: 8px 0 0 8px;
  background-color: #fff;
  border: 1px solid #94a3b8;
  box-sizing: border-box;
  height: 44px;
}
.iconoutlinesearch {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.input-left-content {
  position: absolute;
  top: calc(50% - 12px);
  left: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.basic-input1 {
  flex: 1;
  position: relative;
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  border: 1px solid #94a3b8;
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  margin-left: -1px;
}
.basic-input-parent {
  position: relative;
  order: 2;
  top: calc(50% - 22px);
  /*left: calc(50% - 220px);*/
  width: 439px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button {
  border-radius: 8px;
  background-color: #fa6f32;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.iconoutlinebell {
  position: relative;
  border-radius: 10px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button1 {
  border-radius: 8px;
  background-color: #f1f5f9;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.face-37-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.photo {
  position: relative;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button2 {
  border-radius: 8px 0 0 8px;
  height: 44px;
  overflow: hidden;
  padding: 10px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.button-group,
.button2,
.button3 {
  display: flex;
  flex-direction: row;
}
.button3 {
  border-radius: 0 8px 8px 0;
  width: 44px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button-group {
  border-radius: 8px;
  background-color: #f1f5f9;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  color: #0f172a;
}
.frame-child {
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: 134px;
  border-radius: 40px;
  background-color: #fe0000;
  border: 1px solid #f1f5f9;
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  z-index: 3;
}
.button-parent {
  position: relative;
  order: 3;
  top: calc(50% - 22px);
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  color: #fff;
}
.the-logo-maker-built-for-1000 {
  position: relative;
  display: flex;
  order: 1;
  top: calc(50% - 17px);
  left: 0;
  background-color: #c4c4c4;
  width: 213px;
  height: 33px;
}

.list-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  min-width: 0;
}

.frame-parent {
  /*position: absolute;*/
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.component-11 {
  position: relative;
  top: 0;
  width: 86%;
  margin: auto;
  height: 84px;
  font-size: 16px;
  color: #94a3b8;
}
.iconsolidchevron-left {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button4,
.button5,
.button6 {
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  height: 56px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button5,
.button6 {
  top: 0;
  left: 0;
  border-radius: 8px 8px 0 0;
}
.button6 {
  top: 56px;
  border-radius: 0 0 8px 8px;
}
.group-div,
.image-76-icon {
  position: absolute;
  top: 32px;
  left: 668px;
  width: 56px;
  height: 112px;
}
.image-76-icon {
  top: 821px;
  left: 0;
  width: 801px;
  height: 26px;
  object-fit: cover;
}
.component-13,
.component-14,
.component-15 {
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-13 {
  position: absolute;
  top: 421px;
  left: 316px;
  overflow: hidden;
}
.component-14,
.component-15 {
  top: 556px;
}
.component-14 {
  position: absolute;
  left: 175px;
  overflow: hidden;
}
.component-15 {
  left: 499px;
}
.map-container,
.component-15,
.component-16 {
  position: absolute;
  overflow: hidden;
}
.component-16 {
  top: 308px;
  left: 510px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: flex-start;
  justify-content: flex-start;
}

.button7 {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px); /* Adjust the value as needed to position the dropdown below the button */
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#priceButton {
  cursor: pointer;
}

.dropdown-option {
  cursor: pointer;
  padding: 5px;
}

/* Add your additional styling as needed */


.map-container {
  /*top: 179px;*/
  top: 1vh;
  position: relative;
  /*left: 812px;*/
  width: 41vw;
  height: 87vh;
  background-image: url(/public/frame-2394@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 16px;
  color: #000;
}
.button7,
.button8 {
  position: relative;
  /*top: 203px;*/
  /*left: 689px;*/
  border-radius: 8px;
  background-color: #f1f5f9;
  height: 36px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.button8 {
  /*left: 526px;*/
}

.list-upper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 16px;
}

.list-buttons {
  display: flex;
  gap: 16px;
}

.results-found {
  position: relative;
  /*top: 211px;*/
  /*left: 66px;*/
  margin: auto 0;
  line-height: 20px;
  color: #000;
}
.frame-inner,
.frame-item {
  position: relative;
  border-radius: 50%;
  background-color: #fa6f32;
  width: 8px;
  height: 8px;
}
.frame-inner {
  background-color: #fff;
  opacity: 0.5;
}
.ellipse-parent {
  position: absolute;
  top: calc(50% + 82px);
  left: calc(50% - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.mdicards-heart-outline-icon {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.premium {
  position: relative;
  line-height: 150%;
}
.rivip-crown-line-parent {
  position: absolute;
  top: 12px;
  left: 18px;
  border-radius: 4px;
  background-color: #ffba0a;
  display: flex;
  flex-direction: row;
  padding: 2px 6px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.frame-container,
.rectangle-div {
  align-self: stretch;
  position: relative;
}
.frame-container {
  border-radius: 8px;
  height: 24vh;
  background-image: url(/public/frame-2403@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.frame-container-fallback {
  border-radius: 8px;
  height: 24vh;
  background-image: url(/public/frame-2403@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


.rectangle-div {
  background-color: #cbd5e1;
  width: 2px;
}
.tandem-tractor {
  position: relative;
  line-height: 24px;
}
.peterbilt-579-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  font-size: 16px;
}
.ohio {
  position: relative;
  line-height: 20px;
}
.ohio-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.material-symbolsstar-icon {
  position: relative;
  width: 17px;
  height: 17px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent1,
.material-symbolsstar-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent1 {
  align-self: stretch;
  align-items: flex-start;
}
.day {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.day-wrapper,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  align-self: stretch;
  align-items: center;
}
.frame-div,
.vecicle-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}
.frame-div {
  align-self: stretch;
  align-items: flex-start;
  gap: 10px;
  color: #000;
}
.vecicle-card {
  flex: 1;
  align-items: center;
  gap: 12px;

}

.vecicle-card {
  position: relative;
}

.vecicle-card:hover .promoted-box {
  display: block;
}

.vecicle-card:hover .arrow-button {
  display: block;
  z-index: 2;
  top: 35%;
}

.strikethrough-price {
  display: none;
}

.vecicle-card:hover .strikethrough-price {
  display: block;
  text-decoration: line-through;
  font-weight: bold;
  color: gray;
  bottom: 2px;
  left: 0;
}

.vecicle-card:hover .discount-box {
  display: block;
  bottom: -3px;
}

.vecicle-card:hover .day {
  left: 3vw !important;
}


.promoted-box {
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 2;
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  border-radius: 4px;
  display: none;
}

.input-left-content {
  top: 0;
}

.tandem-tractor > input {
  position: relative;
  border: 0;
  width: 9vw;
  font-size: 24pt;
}

input:focus {
  outline: none;
}

.button8:hover, .button7:hover, .button10:hover, .frame-container:hover,
.button-group:hover, .button:hover, .button1:hover, .button4:hover,
.button5:hover, .button6:hover, .button11:hover {
  cursor: pointer;
  filter: brightness(80%);
}

#priceButton:hover {
  border: 4px solid orangered;
  box-sizing: border-box;
}

.arrow-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.strikethrough-price {
  position: absolute;
  bottom: 3px;
  left: 0;
  text-decoration: line-through;
}

.discount-box {
  position: absolute;
  bottom: 0;
  left: 6vw;
  background-color: mediumseagreen;
  color: white;
  padding: 5px;
  border-radius: 4px;
  display: none;
}


.rivip-crown-line-group,
.vecicle-card-parent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rivip-crown-line-group {
  position: absolute;
  top: 12px;
  left: 18px;
  border-radius: 4px;
  background-color: #ffba0a;
  display: none;
  padding: 2px 6px;
  gap: 4px;
}
.vecicle-card-parent {
  align-self: stretch;
  display: flex;
  gap: 24px;
  column-gap: 5vh;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;
  height: 75vh;
  overflow: auto;
}

.vecicle-card-parent::-webkit-scrollbar {
  display: none;
}
.span {
  font-weight: 600;
}
.clear-the-filter {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
}
.iconoutlinetruck-parent,
.more-distant-but-no-less-impo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconoutlinetruck-parent {
  flex-direction: row;
  gap: 16px;
}
.clear-filters {
  margin-block-start: 0;
  margin-block-end: 6px;
  font-weight: 600;
}
.more-458-transport {
  margin: 0;
  font-size: 14px;
}
.text4 {
  position: relative;
  line-height: 12px;
}
.button10,
.button9,
.toast {
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
}
.button9 {
  background-color: #f1f5f9;
  overflow: hidden;
  display: none;
  padding: 16px;
  justify-content: center;
}
.button10,
.toast {
  display: flex;
}
.button10 {
  background-color: #fa6f32;
  height: 36px;
  overflow: hidden;
  padding: 6px 12px;
  box-sizing: border-box;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}
.toast {
  align-self: stretch;
  background-color: #f1f5f9;
  padding: 12px 16px;
  justify-content: space-between;
  font-size: 16px;
  color: #0f172a;
}
.results-found1 {
  position: relative;
  line-height: 150%;
  color: #000;
  display: none;
}
.top-border {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #e2e8f0;
  height: 1px;
}
.top-border1 {
  align-self: stretch;
  position: relative;
  height: 2px;
}
.previous {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.content,
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.content {
  padding: 3px 4px 0 0;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.content1 {
  padding: 16px 16px 0;
  align-items: flex-start;
  justify-content: center;
}
.top-border3 {
  align-self: stretch;
  position: relative;
  /*background-color: #fb814c;*/
  height: 2px;
  justify-content: center;
}
.number-links,
.paginationnumber-link1 {
  align-items: flex-start;
  height: 3vh;
  width: 1vw;
  justify-content: flex-start;
}
.paginationnumber-link1 {
  border: 1px solid #fb814c;
  display: flex;
  flex-direction: column;
  color: #fa6f32;
}
.number-links {
  text-align: center;
  justify-content: center;
}
.content8,
.links,
.number-links {
  display: flex;
  flex-direction: row;
}
.more-distant-but-no-less-impo-parent, paginationnumber-link1{
  cursor: pointer;
}


.content8 {
  align-self: stretch;
  padding: 3px 0 0 4px;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.links {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  align-items: flex-start;
  justify-content: space-between;
}
.centered-page-numbersdesktop {
  position: relative;
  width: 722px;
  height: 38px;
  color: #64748b;
}
.frame-group {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  color: #fff;

}
.frame-child25 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e2e8f0;
  width: 100%;
  height: 1px;
}
.image-75 {
  position: relative;
  background-color: #c4c4c4;
  width: 24px;
  height: 24px;
}
.frame-parent11,
.image-75-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent11 {
  flex-direction: row;
  gap: 16px;
  z-index: 0;
}
.choice-child {
  position: absolute;
  margin: 0 !important;
  top: 72px;
  left: 0;
  background-color: #0f172a;
  width: 39px;
  height: 2px;
  z-index: 1;
}
.choice {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 18px;
}
.image-751 {
  position: relative;
  background-color: #c4c4c4;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}
.iconsolidchevron-down2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.instance-child {
  position: absolute;
  margin: 0 !important;
  top: 70px;
  left: 0;
  background-color: #0f172a;
  width: 39px;
  height: 2px;
  display: none;
  z-index: 1;
}
.choice-parent {
  position: relative;
  top: 1px;
  left: 0;
  background-color: #fff;
  /*width: 1440px;*/
  display: flex;
  flex-direction: row;
  padding: 24px 64px;
  box-sizing: border-box;
  align-items: center;
  padding-left: 2vw !important;
  justify-content: flex-start;
  gap: 48px;
}
.frame-child27 {
  position: absolute;
  top: 99px;
  left: 0;
  background-color: #e2e8f0;
  width: 100%;
  height: 1px;
}
.button11 {
  position: relative;
  top: 20px;
  /*left: 1441px;*/
  border-radius: 8px;
  background-color: #f1f5f9;
  height: 56px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.rectangle-parent {
  display: flex;
  position: relative;
  /*top: 82px;*/
  justify-content: space-between;
  left: 0;
  width: 86%;
  margin: auto;
  height: 97px;
}
.map-page {
  position: relative;
  background-color: #fff;
  padding-left:1vh;
  padding-right:1vh;
  width: 99%;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #0f172a;
  font-family: Inter;
}

main {
  display: flex;
  justify-content: space-evenly;
}



